### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### R ###
*.Rhistory
.Rproj.user
.Rlib/

### Build Artifacts ###
src/*.o
src/*.so
src/*.dll
src/*.dylib

### Migration Run Outputs ###
migration/

### Generated Docs Artifacts ###
docs/*.html
docs/*.log
docs/*.tex
docs/daily_particle_states_*
docs/looseformbeta_*
docs/mcmc_*
docs/observed_vs_modelled_*
docs/particle_filter_state_diagnostics.*
docs/particle_states_*
docs/simulated_*
